.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section h1 {
  margin-bottom: 5px;
}
